/* header ids */
#page1_header {
    background-color: #dd4dd3;
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 90%;
}

#page2_header {
    background-color: #a634bd;
    display: inline-block;
    text-align: center;
    margin: 20px;
    width: 90%;
}


/* general text, font, list, paragraph and body customizations */
h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

p {
    font-size: 20px;
    text-align: center;
}

ul {
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    display: inline-flex;
    margin: 10px;
    gap: 20px;
}

ol {
    background-color: #B640CE;
    text-align: left;
    list-style-position: inside;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
    padding-left: 40%;
    padding-right: 35%;
}

li {
    margin: 15px;
}

body {
    background-image: url(/images/page2bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    font-family: sans-serif;
    color: black;
}


/* index introduction, content structure, and related class/ids */
#intro_img {
    width: 65%;
    border-radius: 8px;
    display: block;
    margin: auto
}

#page1_content {
    background-color: #dd4dd3;
    text-align: center;
    display: inline-block
}

#page1_intro {
    background-color: #c93abf;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

#main_cast {
    background-color: #f38bec;
    text-align: center;
    margin: 20px;
    display: inline-block
}

.cast {
    background-color: #f5a3ef;
    display: inline-block;
    margin: 20px;
    width: 75%;
    text-align: center;
}

.button1 {
  background-color: #dd4dd3;
  color: #000000;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  margin: 10px;
}

.footer1 {
    background-color: #f38bec;
    text-align: center;
    display: inline-block;
    margin: 20px;
    width: 90%;
}


/* page2 introduction, content structure, and related class/ids */
#page2_content {
    background-color: #a634bd;
    text-align: center;
    display: inline-block
}

#page2_intro {
    background-color: #9928af;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

#top5 {
    background-color: #d46ce9;
    text-align: center;
    margin: 20px;
    display: inline-block
}

.cast2 {
    background-color: #e493f4;
    display: inline-block;
    margin: 20px;
    width: 75%;
    text-align: center;
}

.button2 {
    background-color: #B640CE;
    color:#000000;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    margin: 10px;
}

.footer2 {
    background-color: #d46ce9;
    text-align: center;
    display: inline-block;
    margin: 20px;
    width: 90%;
}


/* media query */
@media (max-width: 800px) {
  body {
    font-size: 16px;
    margin: 10px;
    padding: 15px;
  }

  .row {
    flex-direction: column;
    flex: 1;
    text-align: center;
    justify-content: center;
  }
}

/* bootstrap customizations */
.btn-1 {
    background-color: #dd4dd3;
    font-size: 20px; 
    color: black;
}

.btn-1:hover {
    background-color: #f164e7;
    color: black;
}

.btn-2 {
    background-color: #B640CE;
    font-size: 20px; 
    color: black;
}

.btn-2:hover {
    background-color: #cd54e5;
    color: black;
}