#page1_header {
    background-color: #f38bec;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

#page2_header {
    background-color: #d46ce9;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 50px;
    text-align: center;
}

h2 {
    font-size: 40px;
    text-align: center;
}

h3 {
    font-size: 30px;
    text-align: center;
}

p {
    font-size: 20px;
    text-align: center;
}

ul {
    font-size: 20px;
    text-align: center;
    list-style-position: inside;
    display: inline-flex;
    margin: 10px;
    gap: 20px;
}

ol {
    background-color: #821997;
    text-align: center;
    list-style-position: inside;
    font-size: 20px;
    margin: 20px;
}

body {
    background-color: #000000;
    text-align: center;
}

* {
    font-family: sans-serif;
}

.imgflex {
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#intro_img {
    width: 40%;
    border-radius: 8px;
    display: block;
    margin: auto
}

#page1_content {
    background-color: #dd4dd3;
    text-align: center;
    display: inline-block
}

#page1_intro {
    background-color: #c93abf;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

#page2_content {
    background-color: #a634bd;
    text-align: center;
    display: inline-block
}

#page2_intro {
    background-color: #9928af;
    display: inline-block;
    text-align: center;
    margin: 20px;
}

#main_cast {
    background-color: #f38bec;
    text-align: center;
    margin: 20px;
    display: inline-block
}

#top5 {
    background-color: #d46ce9;
    text-align: center;
    margin: 20px;
    display: inline-block
}

.cast {
    background-color: #f5a3ef;
    display: inline-block;
    margin: 20px;
    width: 75%;
    text-align: center;
}

.cast2 {
    background-color: #e493f4;
    display: inline-block;
    margin: 20px;
    width: 75%;
    text-align: center;
}

.button1 {
  background-color: #b42eab;
  color: #000000;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  display: inline-block;
  margin: 10px;
}

.button2 {
    background-color: #821997;
    color:#000000;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}

.footer1 {
    background-color: #f38bec;
    text-align: center;
    display: inline-block;
    margin: 20px;
    width: 1000px;
}

.footer2 {
    background-color: #d46ce9;
    text-align: center;
    display: inline-block;
    margin: 20px;
    width: 1000px;
}